.recipeList {
  &__item {
    width: 365px;
    height: 400px;
    background-color: rgb(238, 234, 234);
    border: 1px solid var(--more-gray-scale-bd);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
  }

  &__photobox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    img {
      width: 100%;
    }
  }
}
