.recipe {
  &__item {
    width: calc(((100% - 80px) / 3));
    height: 365px;
    background-color: var(--more-gray-scale-f6);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--more-gray-scale-d8);
    border-radius: 10px;
  }

  &__item-add {
    cursor: pointer;
    color: var(--more-gray-scale-d8);
  }
}

//모달창 취소, 오케이 삭제
.ant-modal-footer {
  display: none;
}

.ant-modal-close {
  display: none;
}

//모달 폼
:where(.css-dev-only-do-not-override-14wwjjs).ant-modal .ant-modal-content {
  padding: 80px 120px;
}

.modal {
  //모달 안쪽 필드
  &__feild {
    width: 1033px;
    // height: 682px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
  }

  //모달 레시피 이름 필드
  &__more-input::placeholder {
    color: var(--more-gray-scale-d8);
  }
  &__title {
    width: 736px;
    height: 72px;
    font-size: 26px;
  }

  &__sub-title {
    // margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  &__hint {
    color: red;
  }

  //모달 카테고리 필드
  &__category {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__with-hint {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  &__ingredient {
    width: 1033px;
    display: flex;
    flex-direction: column;
    // align-items: start;
    gap: 24px;

    &__list {
      width: 100%;
      height: 96px;
      display: flex;
      gap: 24px;
      font-size: 18px;
    }

    &__list::placeholder {
    }

    &__title {
      width: 400px;
      height: 96px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      gap: 12px;
    }

    &__sub-title {
      font-size: 18px;
      font-weight: 600;
    }

    &__ea {
      width: 255px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      gap: 12px;
    }

    &__unit {
      width: 206px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      gap: 12px;
    }

    &__delete {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      gap: 12px;
      &__none {
        height: 28px;
      }

      &__button {
        border-radius: 10px;
        font-weight: 500;
        background: var(--more-basic-white);
        border: 3px solid var(--more-primary-dark);
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      &__button:hover {
        background: var(--more-primary-light);
        border: 3px solid var(--more-primary-normal);
      }
    }
  }

  &__add {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border-radius: 9px;
    border: 1px solid var(--grayscale-d-8, #d8dee4);
    background: var(--grayscale-f-6, #f6f8fa);

    img {
      cursor: pointer;
    }
  }

  &__util {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: right;
    gap: 24px;
  }

  &__util__button {
    width: 250px;
    font-size: 24px;
  }
}
