.recipe {
  &__item {
    width: 400px;
    height: 365px;
    background-color: rgb(238, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid var(--more-gray-scale-bd);
    border-radius: 10px;
  }

  &__item-add {
    cursor: pointer;
    fill: var(--more-gray-scale-bd);
  }
}

//모달창 취소, 오케이 삭제
.ant-modal-footer {
  display: none;
}

.ant-modal-close {
  display: none;
}

//모달 폼
.modal {
  //모달 안쪽 필드
  &__feild {
    padding: 20px;
    width: 100%;
  }

  //모달 간격 맞추기
  &__size {
    margin: 10px 0px;
  }

  //모달 레시피 이름 필드
  &__title {
  }

  &__hint {
    color: red;
  }

  //모달 카테고리 필드
  &__category {
  }

  //모달 재료 전체필드
  &__ingredient {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    &__title {
      width: 50%;
    }

    &__ea {
    }

    &__delete_button {
      height: 50px;
    }
  }

  //모달 재료 추가 버튼
  &__add {
    width: 100%;
  }

  //모달 취소 등록 버튼(유틸)
  &__util {
    display: flex;
    justify-content: center;
  }
}
