.search-word {
  display: flex;
  height: 52px;
  gap: 24px;

  &__wrap {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__category {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--grayscale-ee, #eee);
    cursor: pointer;
    font-size: 26px;
  }

  &__category:hover {
    background: var(--primary-light, #ffe99d);
  }

  &__close {
    display: flex;
    align-items: center;
  }
}
