.login {
  width: 100vw;
  height: 100vh;

  &__content {
    width: 728px;
    height: 650px;
    margin: 0 auto;
  }

  &__title {
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__form {
    width: 100%;
    height: 610px;
    padding: 36px 140px 42px 140px;
    background-color: #f6f8fa;
    border: 1px #d8dee4;
    border-radius: 10px;
  }

  &__sub-wrap {
    margin-top: 32px;
  }

  &__sub-message {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__input {
    border-radius: 10px;
    padding: 13px 24px;
  }

  &__find-pw {
    font-size: 16px;
    font-weight: 600;
    color: #126bdb;
    text-align: right;
    line-height: 30px;
    cursor: pointer;
  }

  &__sign {
    font-weight: 600;
    font-size: 16px;
    color: #126bdb;
    line-height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 15px;
  }

  &__login-button {
    margin-top: 60px;
  }

  &__google-login-button {
    background-color: #fff;
  }

  &__google {
    width: 60px;
    height: 60px;
    margin-right: 8px;
  }
}
