//my-info scss
.my-info {
  width: 100%;
  height: 100%;
  padding: 16px;
  padding: 16px;
  border: 1px solid var(--cool-gray-20, #dde1e6);
  background: var(--default-white, #fff);

  &__hint {
    color: red;
  }

  &__box {
    margin-bottom: 16px;
  }

  &__button {
    display: flex;
    justify-content: right;
  }
}

//withdraw scss
.withdraw {
  width: 100%;
  height: 100%;
  padding: 16px;
  border: 1px solid var(--cool-gray-20, #dde1e6);
  background: var(--default-white, #fff);

  &__button {
    display: flex;
    justify-content: center;

    Button {
      margin: 10px;
    }
  }
}

//category scss
.category {
  width: 100%;
  height: 100%;
  padding: 16px;
  border: 1px solid var(--cool-gray-20, #dde1e6);
  background: var(--default-white, #fff);

  &__field {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  li {
    width: 100%;
    height: 50px;
    padding: 12px 16px;
    list-style: none;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--cool-gray-30, #c1c7cd);
    background: var(--cool-gray-10, #f2f4f8);
  }

  &__delete_button {
    float: right;
    line-height: 1.5;
    font-size: 16px;
    cursor: pointer;
  }

  &__add_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
  }

  &__save_button {
  }
}
