.recipe_list {
  width: 100%;
  height: 100%;

  &__wrap {
    width: 100%;
    margin: 0 auto;
  }

  &__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__no-recipe-message {
    font-size: 32px;
    font-weight: 400;
    margin-left: 85px;
    color: var(--more-gray-scale-bd);
    line-height: 52px;
  }
}
