@import "palette.scss";
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
div {
  box-sizing: border-box;
}
div,
a {
  font-family: "SUIT-Regular";
  font-style: normal;
  font-weight: 500;
}

ul,
li {
  list-style: none;
}
