:root {
  --more-primary-normal: #ffd15c;
  --more-primary-light: #ffe99d;
  --more-primary-dark: #ffa723;

  --more-basic-white: #ffffff;
  --more-basic-black: #212121;

  --more-gray-scale-fa: #fafafa;
  --more-gray-scale-f6: #f6f8fa;
  --more-gray-scale-ee: #eeeeee;
  --more-gray-scale-e4: #e4e4e4;
  --more-gray-scale-d8: #d8dee4;
  --more-gray-scale-cc: #cccccc;
  --more-gray-scale-bd: #bdbdbd;
  --more-gray-scale-99: #999999;
  --more-gray-scale-66: #666666;
  --more-gray-scale-30: #303030;

  --more-system-positive: #3166ff;
  --more-system-error: #ff645c;
}
